[submodule "pai"]
	path = pai
	url = git@github.com:paiscript/pai.git
[submodule "pai_plugins/analytics"]
	path = pai_plugins/analytics
	url = git@github.com:paiscript/plugin-analytics.git
[submodule "pai_plugins/html5shiv"]
	path = pai_plugins/html5shiv
	url = git@github.com:paiscript/plugin-html5shiv.git
[submodule "pai_plugins/locale"]
	path = pai_plugins/locale
	url = git@github.com:paiscript/plugin-locale.git
[submodule "pai_plugins/menu"]
	path = pai_plugins/menu
	url = git@github.com:paiscript/plugin-menu.git
[submodule "pai_plugins/phperror"]
	path = pai_plugins/phperror
	url = git@github.com:paiscript/plugin-phperror.git
[submodule "pai_plugins/piwik"]
	path = pai_plugins/piwik
	url = git@github.com:paiscript/plugin-piwik.git
