<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !cgi-bin/*
	RewriteRule ^(.*)$ pai/direct.php?pai_page=$1 [L,QSA]
	
	RewriteRule ^$ pai/direct.php [L,QSA]
</IfModule>